.App {
  font-family:'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  background-color: rgb(207, 207, 207);
  z-index: 0;
}


/* navbar.js */
.navbar{
  display: flex;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;;
}

.navbar-logo{
  border-radius: 50%;
  scale: 0.7;
}
.nav-div{
  place-items: center;
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-links li a{
  color: black;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 50px;
  outline: none;
  transition: background-color 0.005s ease; 
}
.nav-links li a:hover{
  color: rgb(42, 42, 42);
  text-decoration: none;
  padding: 10px 30px;
  background-color: rgb(228, 225, 225);
  border-radius: 50px;
}
.nav-links li a:focus{
  outline: none;
}
.nav-links li a{
  cursor: pointer;
}

.hamburger-button{
  display: none;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hamburger-button{
    display: block;
    /* margin-left: auto; */
  }
  .navbar{
    justify-content: space-between;
  }
  .nav-links{
    display: none;
    flex-direction: column;
    padding: 0;
  }
  
  .nav-links.open{
    display: flex;
  }
  .nav-links li{
    padding: 10px;
  }
}